<html>
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/top.ejs") %>
        <h1 style="font-size: 7em; display: flex; justify-content: center;">404</h1>
        <h2 style="display: flex; justify-content: center;">Něco se posralo a udělalo</h2>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>