<html>
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/top.ejs") %>
        <div class="content based">
            <h1>Ministerstvo založenosti</h1>
            <h2>Fazol</h2>
            <p>
                Fazol (Phaseolus) je rod rostlin z čeledi bobovité. Jsou to byliny s trojčetnými listy a motýlovitými květy, pocházející z tropické Ameriky. Je známo asi 50 druhů. Některé druhy fazolu náležejí mezi významné luštěniny. V České republice se nejčastěji pěstuje fazol obecný a fazol šarlatový.
            </p>
            <h3>Popis</h3>
            <p>
                Fazoly jsou popínavé nebo vzpřímené byliny s trojčetnými dlouze řapíkatými listy. Prostřední lístek bývá dlouze řapíčkatý. Palisty jsou vytrvalé, na bázi jednotlivých lístků jsou přítomny drobné palístky. Květy jsou žluté, bílé, červené nebo purpurové, ve stopkatých úžlabních hroznech. Kalich je zvonkovitý, dvoupyský, zuby horního pysku jsou srostlé, dolní pysk je trojzubý. Pavéza je téměř okrouhlá, nazpět ohrnutá, někdy na bázi s přívěsky. Křídla jsou obvejčitá až podlouhlá, připojená ke člunku. Zobánek člunku je dlouhý a spirálovitě stočený. Tyčinky jsou dvoubratré, 9 z nich je srostlých a 1 volná. Semeník je téměř přisedlý. Lusky jsou podlouhlé až čárkovité, nepukavé nebo pukající oběma švy, zploštělé nebo s téměř okrouhlým průřezem, se 2 až mnoha semeny. Mezi semeny jsou v luscích často dřeňovité přepážky.
            </p>
            <h3>Rozšíření</h3>
            <p>
                Rod fazol zahrnuje asi 50 druhů. Všechny druhy pocházejí z tropické Ameriky. Některé druhy jsou pěstovány jako luštěniny prakticky po celém světě.
            </p>
            <h3>Taxonomie</h3>
            <p>
                Do rodu Phaseolus jsou v některých zdrojích řazeny i druhy rodu vigna (Vigna).
            </p>
            <h3>Obsahové látky a jedovatost</h3>
            <p>Fazole obsahují průměrně přibližně 20 až 25% bílkovin, 1 až 1,5% tuku, 55 až 62% sacharidů a 3 až 4% vlákniny. Z vitamínů obsahují zejména provitamin A a komplex vitamínů B.
                Zralé syrové fazole obsahují jedovaté látky, které se neutralizují tepelnou úpravou. Mezi tyto látky náleží jednak bílkovinné látky zvané lektiny, které způsobují shlukování červených krvinek, a přinejmenším u některých druhů i kyanogenní glykosidy faseolunatin a linamarin, z nichž se může uvolňovat kyselina kyanovodíková. Otrava syrovými fazolemi se projevuje zejména nevolností, zvracením a průjmem.</p>
            <h2>Node.js go brrrrrrr</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dVE_aSQx1Cw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>