<html>
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/top.ejs") %>
        <div class="content">
            <h1>Ministerstvo zalozenosti</h1>
            <h2>Trapne keci o nas</h2>
            <p>
                Hodne moc dulezity text...
                Hodne moc dulezity text...
                Hodne moc dulezity text...
                Hodne moc dulezity text...
                Hodne moc dulezity text...
                Hodne moc dulezity text...
                Hodne moc dulezity text...
                Hodne moc dulezity text...
            </p>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>