<html>
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/top.ejs") %>
        <div class="content">
            <h2>Vítej na ministerstvu založenosti</h2>
            <img src="/src/skrivos.jpg" style="width: 420px;">
            <p>
                Oficiálně sponzorováno skřivošem!
            </p>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>