<html>
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/top.ejs") %>
        <div class="new content">
            <form>
                <label for="name">Název memu:</label>
                <input type="text" id="name" required>
                <label for="meme">Meme:</label>
                <input type="image" id="meme" required>
                <button>Upload</button>
            </form>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>