<html>
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/top.ejs") %>
        <div class="new content">
            <form action="/memes" method="POST">
                <label for="name">Název memu:</label>
                <input type="text" id="name" name="name" required>
                <label for="meme">Url obrázku:</label>
                <input type="url" id="meme" name="meme" required>
                <label for="desc">Popis:</label>
                <textarea type="text" id="des" name="desc" required></textarea>
                <button>Upload</button>
            </form>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>