@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@469&display=swap');
body{
    max-width: 6000px;
    font-family: 'Oswald', sans-serif;
    margin: 20px auto;
    padding: 0 20px;
}
p, h1, h2, h3, a, ul{
    color: #222;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #555;
    text-transform: uppercase;
}
nav ul{
    display: flex;
    justify-content: space-between;   
    align-items: flex-end;
}
nav li{
    list-style-type: none;
    margin-left: 20px;
}
nav h1{
    font-size: 3em;
}
nav p, nav a{
    font-weight: 600;
    color: #777;
}
nav a:hover{
    color: red;
}
footer{
    color: #777;
    text-align: center;
    position: relative;
    bottom: 0;
    margin: 80px auto 20px;
}
h2{
    margin-bottom: 40px;
}
h3{
    text-transform: capitalize;
    margin-bottom: 8px;
}
.posts p{
    margin-bottom: 30px;
}
.posts{
    margin-left: 15px;
}
.content{
    margin-left: 20px;
}
.content img{
    margin-top: 20px;
    margin-bottom: 30px;
}
.content .ref{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.content .ref:hover{
    color: red;
}
/* create styles */
.new form{
    max-width: 400px;
    margin: 0 auto;
}
.new input,
.new textarea{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
.new label{
    display: block;
    margin-top: 24px;
}
.new textarea{
    height: 120px;
}
.new button{
    margin-top: 20px;
    background: #888;
    color: white;
    padding: 6px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
    max-width: 400px;
}